useDynLib(actuary, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(unilen)
export(rm_ws)
export(rm_uniq)
export(get_size)
export(get_mode)
export(get_summ)
export(get_prop)
export(cut_age)
export(cut_threshold)
export(strati)
export(join)
import(data.table)
import(stringr)
import(openssl)
import(sampling)
