useDynLib(actuary, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(unilen)
export(getsiz)
export(lsjoin)
export(strati)
import(data.table)
import(stringr)
import(openssl)
import(sampling)
