useDynLib(actuary, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(unilen)
export(getsize)
export(getmode)
export(getsumm)
export(join)
export(strati)
import(data.table)
import(stringr)
import(openssl)
import(sampling)
